/*
position: absolute;
width: 570px;
height: 120px;
left: 15px;
top: 54px;

/* colors:
sumire - #A244AF, hsl(293, 44%, 48%)
senka - #5C508D, hsl(252, 28%, 43%)
hana - #F489A1, hsl(347, 83%, 75%)
tsuki - #F2D269, hsl(46, 84%, 68%)
yuki - #A8D7C4, hsl(156, 37%, 75%)
hoshi - #5ABCD8, hsl(193, 62%, 60%)
sora - #E5C6DE, hsl(314, 37%, 84%)
*/

#title {
	font-family: 'Noto Sans JP', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	margin-top: 1%;
	margin-left: 0.5%;
	color: #FFFFFF;
	background: hsla(293, 44%, 48%, 100%);
	border-radius: 15px;
}
#site-description {
	font-family: 'Noto Sans JP', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	margin-top: 1%;
	margin-left: 0.5%;
	color: #FFFFFF;
	background: hsla(293, 44%, 48%, 75%);
	border-radius: 15px;
}
#text_example_intro{
	font-family: 'Noto Sans JP', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	margin-top: 1%;
	margin-left: 0.5%;
	color: #FFFFFF;
	margin-right:85%;
	background: hsla(293, 44%, 48%, 50%);
	border-radius: 15px;
}
#checkboxes_troupe{
	width: 10%;
	margin-left: 0.5%;
	box-shadow: 0 0 0 2pt black;
	border-radius: 15px;
	float: left;
	margin-right: 2%;
  min-width: 175px;
  padding-left: 1%;
}
#text_textboxes_troupe, #text_dropdown_time_range, #text_dropdown_staff, #text_dropdown_performer, #text_checkbox_revival, #text_dropbox_genre{
	font-family: 'Notp Sans JP', sans-serif;
	font-size: 20px;
	text-align: center;
}

#dropdown_time_range, #dropdown_staff_group, #dropdown_performer_group, #checkbox_revival, #pillbox_genre{
	width: 15%;
	box-shadow: 0 0 0 2pt black;
	border-radius: 15px;
	float: left;
	margin-right:2%;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
}
#dropdown_time_range{
  min-width: 215px;
  max-width: 260%
}
#dropdown_staff_group{
  min-width: 165px;
  max-width: 240px;
}
#dropdown_performer_group{
  min-width: 190px;
}
#time_range_to{
	font-size:16px;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
}
#dropdown_day1, #dropdown_day2, #dropdown_month1, #dropdown_month2, #dropdown_year1, #dropdown_year2, #dropdown_staff,#dropdown_dir, #dropdown_aut, #dropdown_cho, #dropdown_com, #dropdown_ts, #dropdown_tm, #dropdown_lead, #dropdown_genre{
	font-size: 14px;
	font-family: 'Noto Sans JP', sans-serif;
  box-shadow: 0 0 0 1pt black;
  border-radius: 10px;
}
#dropdown_dir, #dropdown_aut, #dropdown_cho, #dropdown_com, #dropdown_ts, #dropdown_tm, #dropdown_lead{
  display: block;
}
#dropdown_time_one, #dropdown_time_two{
	text-align: center;
}
#dropdown_time_two{
	padding-bottom: 22%;
}
#pillbox_genre{
  text-align: center;
  padding-bottom: 2%;
}
.container_f, .container_m, .container_sn, .container_c, .container_se,.container_st,.container_revival_yes, .container_revival_no{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container_se{
	padding-bottom: 10%;
}

/* Hide the browser's default checkbox */
.container_f input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container_sn input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container_m input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container_st input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container_c input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container_se input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container_revival_no input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container_revival_yes input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_f:hover input ~ .checkmark {
  background-color: hsla(347, 83%, 75%, 40%);
}
.container_sn:hover input ~ .checkmark {
  background-color: hsla(156, 37%, 75%, 40%);
}
.container_m:hover input ~ .checkmark {
  background-color: hsla(46, 84%, 68%, 40%);
}
.container_st:hover input ~ .checkmark {
  background-color: hsla(193, 62%, 60%, 40%);
}
.container_c:hover input ~ .checkmark {
  background-color: hsla(314, 37%, 84%, 40%);
}
.container_se:hover input ~ .checkmark {
  background-color: hsla(252, 28%, 43%, 40%);
}
.container_revival_yes:hover input ~ .checkmark {
  background-color: hsla(293, 44%, 48%, 55%);
}
.container_revival_no:hover input ~ .checkmark {
  background-color: hsla(293, 44%, 48%, 55%);
}

/* When the checkbox is checked, add the correct full value background */
.container_f input:checked ~ .checkmark {
  background-color: hsla(347, 83%, 75%, 100%);
}
.container_sn input:checked ~ .checkmark {
  background-color: hsla(156, 37%, 75%, 100%);
}
.container_m input:checked ~ .checkmark {
  background-color:  hsla(46, 84%, 68%, 100%);
}
.container_st input:checked ~ .checkmark {
  background-color: hsla(193, 62%, 60%, 100%);
}
.container_c input:checked ~ .checkmark {
  background-color: hsla(314, 37%, 84%, 100%);
}
.container_se input:checked ~ .checkmark {
  background-color: hsla(252, 28%, 43%, 100%);
}
.container_revival_yes input:checked ~ .checkmark {
  background-color: hsla(293, 44%, 48%, 100%);
}
.container_revival_no input:checked ~ .checkmark {
  background-color: hsla(293, 44%, 48%, 100%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_f input:checked ~ .checkmark:after {
  display: block;
}
.container_sn input:checked ~ .checkmark:after {
  display: block;
}
.container_m input:checked ~ .checkmark:after {
  display: block;
}
.container_st input:checked ~ .checkmark:after {
  display: block;
}
.container_c input:checked ~ .checkmark:after {
  display: block;
}
.container_se input:checked ~ .checkmark:after {
  display: block;
}
.container_revival_no input:checked ~ .checkmark:after {
  display: block;
}
.container_revival_yes input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_f .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_sn .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_m .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_st .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_c .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_se .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_revival_yes .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_revival_no .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
